<div class="page-custom-wrapper">
  <div class="page-custom-content">

    <div class="grid">

      <div class="row custom-table-row row-margin-left">
      <%= simple_form_for habitset do |f| %>

        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">Review</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Video</div>
          <div class="col-xs-6 custom-table-cell">
            <video width="150" height="150" controls>
              <source src="<%= habitset.coach_review_video.url %>" type="video/mp4">Your browser does not support the video tag.
            </video>
          </div>
        </div>

        <div class="row custom-table-row form-row">
          <div class="col-xs-3 custom-table-cell">Coach review</div>
          <div class="col-xs-6 custom-table-cell"><%= f.input :coach_review, label: false, as: :text, autofocus: true, input_html: {rows: 5}%></div>
        </div>

        <div class="row custom-table-row form-row">
          <div class="col-xs-3 custom-table-cell">Save</div>
          <div class="col-xs-6 custom-table-cell align-right"><%= f.button :submit, "Save", class: "blue-btn round-btn sm-btn" %></div>
        </div>

      <% end %>
      </div>

    </div>
  </div>
</div>

