<div class="page-wrapper">
  <div class="dbpage-title"> <%= @habitsviews.count %></div>
    <div class="grid">
      <div class="row">
        <% @habitsviews.each do |habitsview| %>

          <div class="row">
            <div class="col-xs-12">
              <div class="card-wrapper">
                <div class="card-title">
                  <%= habitsview.name %>
                 </div>
                <div class="card-content">
                  <%= habitsview.name %>
                </div>
              </div>
            </div>
          </div>
        <%end %>
      </div>
    </div>
  </div>
