<div class="page-custom-wrapper">


  <div class="page-custom-content">
    <% @habitsetdays.each do |day| %>
      <div class="row page-custom-section-title">
        <div class="col-xs-10"> <h3> <%= day.strftime("%A.%d.%b.%y") %></h3></div>
        <div class="col-xs-2"></div>
      </div>


      <div class="row page-custom-section">
        <% @habitsets.where(date: day).each do |habitset| %>
          <%= render 'habitsets/cards/show', habitset: habitset %>
        <% end %>
        </div>
    <% end %>
  </div>




</div>


