<div class="page-custom-wrapper">
  <div class="page-custom-content">
    <div class="row page-custom-section">
      <% @habitsets.each do |habitset| %>
        <%= render 'profiles/cards/show', habitset: habitset %>
      <% end %>
    </div>
  </div>
</div>


