<div class="page-wrapper">

  <div class="row custom-table-row row-margin-left">

    <div class="row custom-table-header-grey row-margin-left">
      <div class="col-xs-3 custom-table-cell">Question</div>
      <div class="col-xs-6 custom-table-cell">Reponse</div>
    </div>


     <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Dare</div>
      <div class="col-xs-6 custom-table-cell"><%= @habitset.date %></div>
    </div>

     <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Name</div>
      <div class="col-xs-6 custom-table-cell"><%= @habitset.name %></div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Url</div>
      <div class="col-xs-6 custom-table-cell"><%= @habitset.url %></div>
    </div>


    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Model ?</div>
      <div class="col-xs-6 custom-table-cell"><%= @habitset.is_model %></div>
    </div>

  </div>
</div>
</div>
