<div class="custom-table">
  <div class="row custom-table-header-grey row-margin-left">
    <div class="col-xs-1 custom-table-cell table-sm">#</div>
    <div class="col-xs-4 custom-table-cell table-sm">Exercice</div>
    <div class="col-xs-3 custom-table-cell table-sm">Charges totales</div>
    <div class="col-xs-4 custom-table-cell table-sm">Series</div>
  </div>
  <% workoutsets.each do |workoutset| %>
   <div class="row custom-table-row row-margin-left">
    <div class="col-xs-1 custom-table-cell table-sm">#</div>
    <div class="col-xs-4 custom-table-cell table-sm"><%= workoutset.exercice.name %></div>
    <div class="col-xs-3 custom-table-cell table-sm"><%= workoutset.total_weight %> </div>
    <div class="col-xs-4 custom-table-cell table-sm">
      <% workoutset.repetitions.each do |repetition| %>
        <div class="table-xs"><%= "#{repetition.quantity} x #{repetition.weight} kg" %></div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
