<div class="page-custom-wrapper">
  <div class="page-custom-content">
    <div class="grid">
      <div class="row page-custom-section-title">REVIEW REQUESTED</div>
      <div class="row page-custom-section">
        <% if not @habitsets_requested.nil? %>
          <% @habitsets_requested.each do |habitset| %>
            <%= render 'profiles/cards/showcoach', habitset: habitset %>
          <% end %>
        <% end %>
      </div>

      <div class="row page-custom-section-title">REVIEW COMPLETED</div>
      <div class="row page-custom-section">
    <% if not @habitsets_completed.nil? %>
          <% @habitsets_completed.each do |habitset| %>
            <%= render 'profiles/cards/showcoach', habitset: habitset %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

