<div class="page-wrapper">
  <div class="grid">

   <div class="grid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 nopadding">
        <% @workouts.each do |workout| %>
          <div class="card-wrapper">
            <div class="card-content align-vertical height">
              <div class="row"">
                <div class="col-xs-3 col-sm-2"><%= workout.date.strftime("%d.%m.%y") %></div>
                <div class="col-xs-6 col-sm-5"><%= workout.name %></div>
                <div class="hidden-xs col-sm-3"><%= "#{number_with_delimiter(workout.total_weight, separator: " ")} kg "%></div>
                <div class="col-xs-3 col-sm-2 text-center">
                  <%= link_to workout_path(workout),  class: "btn-icon" do %><i class="fas fa-chevron-circle-right"></i><%end%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>




