// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #ffbe0b;
$orange: #E67E22;
$green: #09bc8a;
$pink: #ee4266;
$gray: #000000;
$dark-gray: #808080;
$light-gray: #F4F4F4;
$light-blue: #edeaf9;
$mid-blue: #ccd6eb;
$dark-blue: #6b6c84;

