.page-wrapper {
  padding: 10px;
  //height: 20px;
  margin-bottom: 60px;
}


.page-custom-header{
  background-color: $light-gray;
  color: $dark-blue;
  width: 100%;
  padding: 5px;
  margin: O;

  display: flex;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }

   p {
    margin-bottom: 0;
  }



  .page-custom-header-content{
    font-size: 10px;
    margin-bottom: 5px;
    color: $dark-blue;
    align-items: center;
  }

  .page-custom-header-navback{
     display: flex;
     align-items: center;
     margin-right: 10px;

     i {
      font-size: 20px;
     }
  }

}

.page-custom-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
