<% if user_signed_in? %>
  <nav class="bottom-navbar">
    <div class="nav-item">
      <%= active_link_to "Mes programmes", profile_programs_path(current_user.profile) %>
    </div>
    <div class="nav-item">
      <%= active_link_to "Mes entrainements", profile_workouts_path(current_user.profile) %>
    </div>
    <div class="nav-item">
      <%= active_link_to "Mes résultats", profile_results_path(current_user.profile) %>
    </div>
    <div class="nav-item">
      <%= active_link_to "Mes feedbacks", coach_feedbacks_path %>
    </div>
  </nav>
<% end  %>
