
<div class="page-wrapper">
  <div class="grid">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="page-title">
          <p><%= @set.exercice.name %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Graphique des performances</div>
            <div class="card-content">Content</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
          <div class="card-title">Séries</div>
          <div class="card-content">
            <div class="custom-table">
              <div class="row custom-table-header">
                <div class="col-xs-2 custom-table-cell">#</div>
                <div class="col-xs-3 custom-table-cell">Reps</div>
                <div class="col-xs-3 custom-table-cell">Poids</div>
                <div class="col-xs-4 custom-table-cell">Actions</div>
              </div>
              <div class="row custom-table-row">
                <div class="col-xs-2 custom-table-cell">1</div>
                <div class="col-xs-3 custom-table-cell">10</div>
                <div class="col-xs-3 custom-table-cell">30kg</div>
                <div class="col-xs-4 custom-table-cell">Actions</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

