.card-product {
  overflow: hidden;
  height:  40px;
  width: 100%;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 10px;
}

.card-product img {
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
}

.card-product .card-product-infos {
  width: 100%;
  height: 100%;
  padding: 5px;
  align-items: center;
  vertical-align: middle;
}

.card-coach {
}

.card-coach-avatar {
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}

