.dbpage-container{
  display: flex;
  width: 100%;

}

.dbpage-left{
  height: 100%;
  width: 500px;
}

.dbpage-right{
  height: 100%;
  width: 100%;
}


  .dbpage-title{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-color: $dark-blue;
    color: white;
    align-items: center;
  }
