.dbpage-container{
  display: flex;

}

.dbpage-left{
  height: 100%;
  width: 2000px;
}

.dbpage-right{
  height: 100%;
  width: calc(100%-2000px);
}


  .dbpage-title{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-color: $dark-blue;
    color: white;
    align-items: center;
  }
