.custom-table {
 padding: 10px;
}

.custom-table-header{
  background-color: $light-blue;
  font-size: 10px;
  font-weight: bold;
  min-height: 25px;
  margin: 0px;
  display: flex;
  align-items: center;

  .margin-left {
    margin-left: 20px;
  }
}

.custom-table-header-grey {
  background-color: $light-gray;
  font-size: 10px;
  font-weight: bold;
  min-height: 25px;
  margin: 0px;
  display: flex;
  align-items: center;

  .margin-left {
    margin-left: 20px;
  }
}

.custom-table-row{
  border-bottom: 1px solid $light-blue;
  padding: 5px;
  font-size: 10px;
  margin: 0px;
  //display: flex;
  align-items: center;
  min-height: 40px;


  .row-margin-left {
    margin-left: 20px;
  }

}

.custom-table-cell {
  vertical-align: middle;
}

.row {
  margin: 0px;
}
.custom-table-row-raw{

  padding: 5px;
  font-size: 10px;
  margin: 0px;
  //display: flex;
  align-items: center;

  .row-margin-left {
    margin-left: 20px;
  }
}

.table-sm{
  font-size: 10px;
}

.table-xs{
  font-size: 8px;
}

.table-xs-padding {

}
