<div class="page-wrapper">
  <div class="grid">

    <div class="row">
      <div class="row">
        <div class="col-xs-6">
          <div class="card full-height">
            <div class="card-content">
              <div class="list-container">
                <div class="list-group h-75 d-inline-block">
                  <% @exercices.each do |exercice| %>
                    <div>
                      <%= link_to "#{exercice.id} - #{exercice.name}"%>
                      <%= link_to "Modifier", profile_exercices_path(profile_id:current_user.profile_id, id: "#{exercice.id}"), class: "round-btn" %>
                      <%= link_to "MyReviews",profile_exercicereviews_path(profile_id: current_user.profile_id,id: "#{exercice.id}"), class: "round-btn" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="card full-height">
            <div class="card-content">
              <% if @exercice.nil? %>
                <div class="col-xs-12">
                  <div class="card-row-header">
                    <div style="font-weight: bold">Pas de valeur selectionnée</div>
                  </div>
                </div>
              <% else %>
                <%= render "exercices/new", exercice: @exercice %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
